.header{
display:inline-block;
margin-left:5px;
margin-right:5px;
text-align:right;
}

#head{
text-align:right;
}
.header img{
border-radius: 50%;
}
#main{
margin-top:100px;
}
.search
{  
display:block;
text-align:center;
}
#input{
width:60%;
border-radius:20px;
height:40px;
opacity:50%;
margin-top:35px;
}
.unter{
display:inline-block;
}
#unter{
display:block;
text-align:center;
margin-top:35px;
font-size:20px;
}
#links{
border:2px;
background-color:rgb(240, 240, 240);
border-radius:5px;
color:black;
margin-right:5px;
padding:5px;
}
#rechts{
border:2px;
background-color:rgb(240, 240, 240);
border-radius:5px;
color:black;
margin-left:5px;
padding:5px;
}
#Angebote{
text-align:center;
margin-top:35px;
}

.footerl{
float:left;
text-align:left;
width:35%;
height:35px;
border:2px;
color:gray;
border-color:gray;
background-color:rgb(240, 240, 240);
}
.footer{
float:left;
text-align:center;
width:30%;
height:35px;
color:gray;
border:2px;
border-color:gray;
background-color:rgb(240, 240, 240);
}


#land{
text-align:left;
  float:bottom;
  left: 0;
  bottom: 35px;
  width: 100%;
}

.footerr{
float:left;
text-align:right;
width:35%;
height:35px;
border:5px;
color:gray;
border-color:black;
background-color:rgb(240, 240, 240);
}

