.header{
display:inline-block;
margin-left:5px;
margin-right:5px;
text-align:right;
}

#head{
text-align:right;
}
.header img{
border-radius: 50%;
}
#main{
margin-top:100px;
}
.search
{  
display:block;
text-align:center;
}
#input{
width:60%;
border-radius:20px;
height:40px;
opacity:50%;
margin-top:35px;
}
.unter{
display:inline-block;
}
#unter{
display:block;
text-align:center;
margin-top:35px;
font-size:20px;
}
#links{
border:2px;
background-color:rgb(240, 240, 240);
border-radius:5px;
color:black;
margin-right:5px;
padding:5px;
}
#rechts{
border:2px;
background-color:rgb(240, 240, 240);
border-radius:5px;
color:black;
margin-left:5px;
padding:5px;
}
#Angebote{
text-align:center;
margin-top:35px;
}

.footer1{
text-align:left;
  float:bottom;
  left: 0;
  line-height:35px;
  bottom: 35px;
  width: 100%;
  border:2px;
color:gray;
border-color:gray;
background-color:rgb(240, 240, 240);
}

.footerl{
float:left;
text-align:left;
width:35%;
height:35px;
line-height:35px;
border:2px;
color:gray;
border-color:gray;
background-color:rgb(240, 240, 240);
}
.footer{
float:left;
text-align:center;
width:30%;
height:35px;
line-height:35px;
color:gray;
border:2px;
border-color:gray;
background-color:rgb(240, 240, 240);
}



.footerr{
float:left;
text-align:right;
width:35%;
height:35px;
line-height:35px;
color:gray;
border:2px;
border-color:gray;
background-color:rgb(240, 240, 240);
}

.footer:hover{
text-decoration:underline;
}
#unternehmen:hover{
text-decoration:underline;
}
#werbung:hover{
text-decoration:underline;
}
#suche:hover{
text-decoration:underline;
}
#daten:hover{
text-decoration:underline;
}
#nutzung:hover{
text-decoration:underline;
}
#einstellung:hover{
text-decoration:underline;
}
#gmail:hover{
text-decoration:underline;
}
#bilder:hover{
text-decoration:underline;
}

#links:hover{
border-style:solid;
border-width:2px;
border-color:gray;
}
#rechts:hover{
border-style:solid;
border-width:2px;
border-color:gray;
}

a{
text-decoration:none;
}

